    body {
        font-family: Arial, sans-serif;
        background: #f0f0f0;
        text-align: center;
        padding: 20px;
    }

    .container{
        background-color: #f0f0f0;
        border: 5px solid black;
    }

    input {
        padding: 10px;
        margin: 10px;
        width: 100px;
        font-size: 16px;
    }

    button {
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #0bc743;
        color: white;
        border-radius: 5px;
    }

    button:hover {
        background-color: #05740b;
    }

    #result {
        font-size: 20px;
        margin-top: 20px;
        color: green;
    }

    .light-mode {
        background-color: white;
        color: black;
        border: black 5px solid;
    }

    .dark-mode {
        background-color: black;
        color: white;
        border: rgb(153, 106, 106) 5px solid;
    }
     .content{
        border-radius: 10px;
        border: 5px solid black;
     }
    