body{
font-family:'Roboto', sans-serif ;
}

.navbar .navbar-brand {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.a {
    padding: 220px 50px 50px;

}
.icon-link{
    text-decoration: dashed;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: #ff5252;
}
.content2 h5{
    color: #ff5252;
}
.content-img {
    background: url(https://ngetemplates.com/fofana/img/bg-peoples.png) center no-repeat;
    background-size: 100%;
    text-align: center;
}
h1 {
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    left: -4px;
    position: relative;
}
.content-img img {
    vertical-align: middle;
    width: 80%;
}
.c1 p{
    line-height: 28px;
    letter-spacing: 0.5px;
}
.d1{
    color: white;
    background-color:#ff5252 ;
    border-radius: 10px;
}
.content h1{
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    left: -4px;
    position: relative;
}
.d1:hover{
    color:#ff5252 ;
    background-color:black ;
}
.btn-primary{
    margin-right: 20px;
    background-color: #ff5252;
    border-color:#ff5252 ;
}
.btn-primary:hover{
    background-color: black;
}
.icon-link-hover{
        color:black ;
        font-size: 17px;
    font-weight: 600
}
.icon-link-hover:hover{
    color: #ff5252;
}
.content1{
    border-radius: 15px;
    padding: 50px 40px;
    background: #333333;
    margin-top: -170px;
    margin-right: auto;
    margin-left: auto;
}
.content-box .icon i {
    color: #ff5252;
    font-size: 80px;
}
.content-box .icon {
    float: left;
    margin-right: 20px;
}

.content1 .text {
    color: #eee;
    overflow: hidden
}
.content1 .h5{
font-size: 20px;
    font-weight: 600;
    line-height: 46px
}
.services{
    padding: 120px 0px 140px;
}
.services h2 {
    margin-left: 30%;
    margin-right: 30%;
}

.title h2 {
    margin-bottom: 50px;
}
h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
}
h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;
}
p {
    margin: 5px 0;
    line-height: 28px;
    letter-spacing: 0.5px;
}
.services i {
    background: #ff5252;
    color: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
    line-height: 58px;
    font-size: 28px;
}
.bi{
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa{
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.row .col-4{
    padding: 40px;
}
.img-thumbnail{
    padding:0px;
    border-radius: 10px;

}
.text1{
    text-align: left;
    border-radius: 5px;
    margin-left: 153px;
    margin-right: 40px;
    padding: 25px;
    text-align: left;
    top: -70px;
    position: relative;
    background: #fff;
    margin-bottom: -40px;
    box-shadow: 0 5px 38px -6px rgba(0, 0, 0, 0.14);
}
.text1 h5{
    color: #ff5252;
}
.service{
    padding: 120px 0px 140px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    border-color:white;
}
.row .col-4 .card{
    padding: 30px;
    text-align: left;
}
.service .card .divider {
    height: 1px;
    width: 100%;
    background: #ddd;
    margin: 15px 0 30px;
}
.list-unstyled{
    padding: 10px 0px;
}
.list-unstyled li{
    padding: 10px 0px;
}
.list-unstyled li i{
    color: #ff5252;
    margin-right: 10px;
}
.content-{
    color: #fff;
    background-color: black;
}
.btn-primary1{
        padding: 12px 30px;
    background: #ff5252;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    margin-right: 220px;
}
.text-danger{
    padding: 20px 0px 10px 0px;
}
.btn-primary1:hover{
    background-color: black;
    color: #fff;
}
.content- .btn-primary1:hover{
    background-color: rgb(255, 254, 254);
    color: #0b0b0b;
}
.card{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}
.container4 {
    padding: 140px 0;
    background: linear-gradient(rgba(5, 4, 4, 0.69), rgba(5, 4, 4, 0.74)) , url(https://ngetemplates.com/fofana/img/testimonial.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff8f8;
}
.container4 .container{
    display: flex;
    gap: 20px;
    justify-content: center;;
}
.container4 .col{
    gap: 10px;
    color: #0b0b0b;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.container4 .icon {
    color: #ff5252;
    font-size: 70px;
    padding: 0px 20px;
}
.container4 .text{
    padding: 10px;
}
.container3{
    margin: 30px 0px;
    padding: 20px;
}
.container3 h2{
    color: #ff5252;
}
.social-links a {
  color:#fffeff;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px ;
  background-color: #0b0b0b;
  margin: 0px 10px;
}
.social-links a:hover{
   background-color:#ff5252;
   
}
.social-links a:hover{
  color:white;
  
}
.social-links{
    padding: 20px 0px;
}