*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
}
.section-header{
    text-align: center;
    margin-bottom: 40px;
}
.section-header h1{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}
.section-header p{
    font-size: 10px;
    color: rgb(143, 133, 133);
    font-weight: 400;
}
.service-grid{
    display: ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.card{
    background-color: rgb(50, 54, 58);
    border: 1px solid white;
    padding: 25px 30px;
}
.card ul li{
    color: rgb(168, 158, 158);
    font-size: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
